
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;1,400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap");

.App {
  text-align: center;
}

:root {
  --bannerFont: Montserrat;
  --textFont: Quicksand;
  --clr-neon: #dad3f6;
}

/* For Mobile Resolutions */
@media (max-width: 1290px){
  .Header {
    background: linear-gradient(180deg, black, #130013);
    padding-top: 1vh;
    padding-bottom: 2vh;
    width: 100vw;
    height: 4vh;
    position: fixed;
    color: white;
    display: flex;
    justify-content: space-between;
  }

  #headerName{
    display: flex;
    align-items: center;
    font-size: 2vmax;
    padding-left: 4vw;
  }

  #buttonContainer{
    display: flex;
    align-items: center;
    padding-top: 1vh;
    padding-right: 5vw;
  }

  .Buttons{
    font-size: 1.25vmax;
    border: none;
    background-color: transparent;
    color: white;
  }




  .Front {
    background-color: #130013;
    font-size: calc(10px + 2vmin);
    color: white;

    min-height: 100vh;

    padding-top: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }




  .EducationBanner {
    display: flex;
    flex-direction: column;
    height: 10vh;
  }

  .EducationBanner .Padding{
    flex: 1;
  }

  .EducationBanner #content{
    flex: 2;
    text-align: center;
    font-family: var(--bannerFont);
    font-size: calc(100% + 3 * (100vw - 1000px) / 1000);
    letter-spacing: 2px;
    font-weight: 300;
    text-transform: uppercase;
  }

  .Education {
    display: flex;
    flex-direction: column;
    
    padding-bottom: 20vh;
  }

  .Education #lmuPicture {
    flex: 5;

    height: 30vw;
    width: auto;
    padding-left: 2vw;
    padding-right: 2vw;
  }

  .Education .TextContainer {
    height: 40vh;
    width: (100 - (1.79 * 35))vw;
    font-family: var(--textFont);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4vh;
  }

  .Education .TextContainer #info{
    flex: 0.2;
    font-size: calc((3vw + 5vh) / 2);
  }

  .Education .TextContainer #relevance{
    flex: 1;
    font-size: calc((1vw + 1.75vh) / 2);
  }

  .Education .TextContainer #relevance1{
    flex: 1;
    padding-top: 2vw;
    padding-left: 3vw;
    padding-right: 3vw;
    text-align: center;
    font-size: calc((1vw + 2.5vh) / 2);
  }

  .Education #buttonContainer{
    padding-left: 3vw;
    flex: 4;
  }

  .EducationButton{
    font-size: 2.5vh;
  }





}






/* For Desktop Resolutions */
@media (min-width: 1290px){
  .Header {
    background: linear-gradient(180deg, black, #110011);
    padding-top: 1vh;
    padding-bottom: 2vh;
    width: 100vw;
    height: 7vh;
    position: fixed;
    color: white;
    display: flex;
    justify-content: space-between;
  }

  #headerName{
    display: flex;
    align-items: center;
    padding-left: 3vw;
    font-size: 2vmax;
  }

  #buttonContainer{
    display: flex;
    align-items: center;
    padding-top: 1vh;
    padding-right: 4vw;
  }

  .Buttons{
    padding-right: 2vw;
    font-size: 1.25vmax;
    border: none;
    background-color: transparent;
    color: white;
  }




  .Front {
    background-color: #110011;
    font-size: calc(10px + 2vmin);
    color: white;

    min-height: 100vh;

    padding-top: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }




  .EducationBanner {
    display: flex;
    flex-direction: column;
    height: 20vh;
  }

  .EducationBanner .Padding{
    flex: 1;
  }

  .EducationBanner #content{
    flex: 2;
    text-align: center;
    font-family: var(--bannerFont);
    font-size: calc(100% + 3 * (100vw - 1000px) / 1000);
    letter-spacing: 4px;
    font-weight: 300;
    text-transform: uppercase;
  }

  .Education {
    display: flex;
    flex-direction: row;

    padding-bottom: 20vh;
  }

  .Education .Padding {
    padding: 0.5vw
  }

  .Education #lmuPicture {
    flex: 5;

    /* 1200 * 670 */
    height: 30vw;
    width: auto;
  }

  .Education .TextContainer {
    height: 35vmax;
    width: (100 - (1.79 * 35))vw;
    font-family: var(--textFont);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1vw;
  }

  .Education .TextContainer #info{
    flex: 0.2;
    font-size: calc((5.3vw + 1vh) / 2);
  }

  .Education .TextContainer #relevance{
    flex: 1;
    font-size: calc((1vw + 1.75vh) / 2);
  }

  .Education .TextContainer #relevance1{
    flex: 1.3;
    font-size: calc((2vw + 1vh) / 2);
    padding-right: 1.25vw;  
    padding-left: 1.25vw;
    text-align: justify;
  }
  
  .Education #buttonContainer{
    flex: 3;
    align-self: center;
  }

  .EducationButton{
    font-size: 2vw;
  }




  .ExperienceBanner{
    display: flex;
    flex-direction: row;
  }

  .ExperienceBanner .Sides{
    flex: 1;
  }

  .ExperienceBanner #content{
    flex: 1;
  }

  .Experience {
    display: flex;
    flex-direction: column;
    padding-top: 10vh;
    height:70vh;
  }

  .Experience .Top {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: var(--bannerFont);
    font-size: calc(100% + 3 * (100vw - 1000px) / 1000);
    letter-spacing: 4px;
    font-weight: 300;
    text-transform: uppercase;
  }
  
  .Experience #logoContainer {
    flex: 5;
  }

  .Experience #logo {
    max-width: 20vh;
    max-height: 20vh;
  }

  .Experience #title {
    flex: 4;
    padding-bottom: 10vh;
  }
  
  .Experience #filler {
    flex: 5;
  }

  .Experience .Info {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .Experience .Info #title {
    flex: 1;
  }
  
  .Experience .Info #date {
    flex: 1;
  }

  .Experience .Content{
    flex: 1;
  }
}




.EducationButton {
  font-family: "Rajdhani";
  font-weight: 200;
  display: inline-block;
  background-color: transparent;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.05em solid;
  border-radius: 0.25em;

  /* text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.125em currentColor; */

  /* box-shadow: inset 0 0 0.15em 0 var(--clr-neon), 0 0 0.15em 0 var(--clr-neon); */
}

.EducationButton:hover {
  background-color: var(--clr-neon);
  font-weight: 300;
  transition: background-color 0.2s ease-in;
  color: black;
  box-shadow: inset 0 0 .5em 0 var(--clr-neon), 0 0 .5em 0 var(--clr-neon);
  transition: box-shadow 0.05s ease-in;
  text-shadow: none;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
Code that basically creates an animation for media.
Example code for usage:
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

Note: @media is not required but it is used for some reason
*/
