.App {
  text-align: center;
}

.Header {
  background: linear-gradient(180deg, black, #1E001E);
  padding-top: 6vh;
  padding-bottom: 8ch;
  color: white;
  font-size: 3vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.Front {
  background: linear-gradient(180deg, #1E001E, #460046);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#testAnimation {
  animation: testAnimation infinite 2s linear;
}

@keyframes testAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
Code that basically creates an animation for media.
Example code for usage:
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

Note: @media is not required but it is used for some reason
*/
